// Fonte
$fontPrincipal: Roboto, sans-serif;

// Medidas de responsividade
$tamanhoMobile: 767px;
$tamanhoTablet: 1024px;

// Cores
$corDoBotao: #44bd32;
$corDoBotaoHover: #4cd137;
$corDoCabecalho: #182C61;
$corBranco: #fff;
$corDoBody: #f5f6fa;
